 <!-- Clients -->
                <div class="be-section clearfix" data-headerscheme="background--dark" style="background-color: #f2f3f8">
                    <div class="be-section-pad clearfix" style="padding-top:90px;padding-bottom:90px;">
                        <div class="be-row be-wrap clearfix">
                            <div class="one-col column-block clearfix " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <h3>CLIENTS</h3>
                                    <p>
                                        <span style="font-size: 14pt;">Mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="be-row be-wrap clearfix">
                            <div class="one-col column-block clearfix " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <div class="carousel-wrap clearfix">
                                        <ul class="be-carousel client-carousel" data-slide-show="1" data-slide-show-speed="4000">
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_12_1000.jpg" alt=""/></a></li>
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_11_1000.jpg" alt=""/></a></li>
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_9_1000.jpg" alt=""/></a></li>
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_8_1000.jpg" alt=""/></a></li>
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_7_1000.jpg" alt=""/></a></li>
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_6_1000.jpg" alt=""/></a></li>
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_5_1000.jpg" alt=""/></a></li>
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_4_1000.jpg" alt=""/></a></li>
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_3_1000.jpg" alt=""/></a></li>
                                            <li class="carousel-item client-carousel-item c_to_c"><a href="#"><img src="upload/Marks_2048x1536_144dpi_2_1000.jpg" alt=""/></a></li>
                                        </ul>
                                        <a class="prev be-carousel-nav" href="#"><i class="font-icon icon-arrow_carrot-left"></i></a><a class="next be-carousel-nav" href="#"><i class="font-icon icon-arrow_carrot-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>