   <!-- Contact Form -->
   <!--
                       <div class="be-section clearfix" data-headerscheme="background--light" style="background: url(upload/black_twill.png) repeat scroll top left;">
                        <div class="be-section-pad clearfix" style="padding-top:20px;padding-bottom:20px;">
                            <div class="be-row be-wrap clearfix">
                                <div class="one-col column-block clearfix ">
                                    <div class="be-custom-column-inner">
                                        <div class="call-to-action be-shortcode clearfix " data-animation="fadeIn">
                                            <h5 class="action-content" style="color:#ffffff;">HAVE A PROJECT ? GET IN TOUCH</h5>
                                            <a class="mediumbtn be-button rounded action-button " href="http://www.themeforest.net" style="border-style: solid; border-width: 0px; border-color: #ffffff; background-color: #e0a240; color: #ffffff;" data-bg-color="#e0a240" data-hover-bg-color="#000000" data-color="#ffffff" data-hover-color="#ffffff" data-border-color="#ffffff" data-hover-border-color="#000000">Contact Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
      -->  
   
                    <div class="be-section clearfix" data-headerscheme="background--dark" style="">
                        <div class="be-section-pad clearfix" style="padding-top:90px;">
	                                <div class="be-row be-wrap clearfix">
                            <div class="one-col column-block clearfix " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <h3>CONTACT</h3>
                                </div>
                            </div>
                        </div>
                            <div class="be-row be-wrap clearfix">
                                <div class="one-third column-block " data-animation="" style=" ">
                                    <div class="be-custom-column-inner">
                                        <h6>Contact Info</h6>
                                        <ul class="custom-list">
                                            <li class="custom-list-content"><i class="font-icon icon-icon_house_alt " style="color:#e0a240;"></i><span class="custom-list-content-inner">66 Nicholson Street, Buffalo,&nbsp;NY 14214</span></li>
                                            <li class="custom-list-content"><i class="font-icon icon-icon_phone " style="color:#e0a240;"></i><span class="custom-list-content-inner">001-123-456-7890</span></li>
                                            <li class="custom-list-content"><i class="font-icon icon-icon_mail_alt " style="color:#e0a240;"></i><span class="custom-list-content-inner">maxi@max-themes.com</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="two-third column-block " data-animation="" style=" ">
                                    <div class="be-custom-column-inner">
                                        <h5>Send us a message</h5>
                                        <p>
                                            We love to listen and we are eagerly waiting to talk to you regarding your project. Get in touch with us if you have any queries and we will get back to you as soon as possible.
                                        </p>
                                        <div class="contact_form contact_form_module style1-input">
                                            <form id="contact-form" class="contact">
                                                 <fieldset class="contact_fieldset">
                                                    <input type="text"  name="name" id="name" class="txt autoclear" placeholder="Name" />
                                                </fieldset>
                                                <fieldset class="contact_fieldset">
                                                    <input type="text" name="mail" id="mail" class="txt autoclear" placeholder="Email" />
                                                </fieldset>
                                                <fieldset class="contact_fieldset">
                                                    <input type="text" name="website" id="website" class="txt autoclear" placeholder="Subject" />
                                                </fieldset>
                                                <fieldset class="contact_fieldset">
                                                    <textarea  name="comment" id="comment" class="txt_area autoclear" placeholder="Message"></textarea>
                                                </fieldset>
                                                <fieldset class="contact_fieldset submit-fieldset">
                                                    <input type="submit" id="submit_contact" name="contact_submit" value="Submit" class="contact_submit be-shortcode mediumbtn be-button rounded" style="background-color: #000000;color: #ffffff;"/>
                                                    <div id="msg" class="message"></div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>