            <!--  End Page Content -->
            </section>
        </div>
    </div>

	    
	<footer id="footer" class="layout-wide" style="background-color: #f2f3f8;">
	    <span class="footer-border "></span>
	    <div id="footer-wrap" class=" style1 be-wrap clearfix">
	        <div class="footer-left-area">
	        </div>
	        <div class="footer-center-area">
	            <div class="footer-content-inner-center">
	                &copy; {{page.companyname}} 2016
	            </div>
	        </div>
	        <div class="footer-right-area">
	        </div>
	    </div>
	</footer>
	</div>
</div>

	<script type='text/javascript' src='js/jquery.js'></script>
	<script type='text/javascript' src='js/jquery-migrate.min.js'></script>

    
    <input type="hidden" id="all_ajax_exclude_links" value="" />
    <script>
        var no_ajax_pages = [];
    </script>
    <script type='text/javascript' src='js/be-modules-plugin.js'></script>
    <script type='text/javascript' src='js/plugins.js'></script>
    <script type='text/javascript' src='js/script.js'></script>
    <script type='text/javascript' src='js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='js/be-modules-script.js'></script>
    <script type='text/javascript' src='js/frontend/add-to-cart.min.js'></script>
    <script type='text/javascript' src='js/jquery-blockui/jquery.blockUI.min.js'></script>
    <script type='text/javascript' src='js/frontend/woocommerce.min.js'></script>
    <script type='text/javascript' src='js/jquery-cookie/jquery.cookie.min.js'></script>
    <script type='text/javascript' src='js/frontend/cart-fragments.min.js'></script>
    <script type='text/javascript' src='js/woocommerce.js'></script>
    <script type='text/javascript' src='js/bb-press.js'></script>
    <script type='text/javascript' src='js/be-slider.js'></script>
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js'></script>
    <script type='text/javascript' src='js/gmap3.min.js'></script>
    <script type='text/javascript' src='js/jquery-ui-1.8.22.custom.min.js'></script>
    <script type='text/javascript' src='js/masterslider.min.js'></script>
    <script type='text/javascript' src='js/jquery.easing.min.js'></script>
    <script type='text/javascript' src='js/chosen/chosen.jquery.min.js'></script>
    <script type='text/javascript' src='js/frontend/chosen-frontend.min.js'></script>


			

</body>
</html>