  <div class="be-section clearfix" data-headerscheme="background--dark" style="background-color: #f2f3f8;">
                    <div class="be-section-pad clearfix" style="padding-top:90px;padding-bottom:90px;">
                        <div class="be-row be-wrap clearfix">
                            <div class="one-col column-block clearfix " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <h3>SERVICES</h3>
                                    <p>
                                        <span style="font-size: 14pt;">We believe that when you do things with passion magic happens!</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="be-row be-wrap clearfix">
                            <div class="one-third column-block " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <div class="icon-shortcode align-left">
                                        <a href="#" class="icon-shortcode icon-plain " data-animation="fadeIn"><i class="font-icon icon-strategy medium plain" style="color:#e0a240;" data-color="#e0a240" data-hover-color="#000000"></i></a>
                                    </div>
                                    <div class="be-text-inner clearfix" style="width: 100%; margin: 0 auto 30px;">
                                        <h6>Branding</h6>
                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="one-third column-block " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <div class="icon-shortcode align-left">
                                        <a href="#" class="icon-shortcode icon-plain " data-animation="fadeIn"><i class="font-icon icon-genius medium plain" style="color:#e0a240;" data-color="#e0a240" data-hover-color="#000000"></i></a>
                                    </div>
                                    <div class="be-text-inner clearfix" style="width: 100%; margin: 0 auto 30px;">
                                        <h6>Marketing</h6>
                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="one-third column-block " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <div class="icon-shortcode align-left">
                                        <a href="#" class="icon-shortcode icon-plain " data-animation="fadeIn"><i class="font-icon icon-desktop medium plain" style="color:#e0a240;" data-color="#e0a240" data-hover-color="#000000"></i></a>
                                    </div>
                                    <div class="be-text-inner clearfix" style="width: 100%; margin: 0 auto 30px;">
                                        <h6>Development</h6>
                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
          
                    </div>
                </div>