  <!-- Our Team -->
                <div class="be-section clearfix" data-headerscheme="background--light" style="background-color: #ffffff;">
                    <div class="be-section-pad clearfix" style="padding-top:90px;padding-bottom:90px;">
                        <div class="be-row be-wrap clearfix">
                            <div class="one-col column-block clearfix " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <h3>OUR TEAM</h3>
                                    <p>
                                        <span style="font-size: 14pt;">Mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="be-row be-wrap clearfix">
                            <div class="one-fourth column-block " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <div class="team-shortcode-wrap 0" data-animation="fadeIn">
                                        <div class="element c_to_c style5-title">
                                            <div class="element-inner">
                                                <div class="flip-wrap">
                                                    <div class="flip-img-wrap none-effect">
                                                        <img src="upload/oshin_v9_images-0006-comp-copy-650x649.jpg" alt="Mike"/>
                                                        <ul class="team-social clearfix over" style="background: rgba(255,255,255,0.85)">
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-facebook"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-twitter"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-gplus"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-linkedin"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="thumb-overlay">
                                                    <div class="thumb-bg">
                                                        <div class="display-table">
                                                            <div class="display-table-cell vertical-align-middle">
                                                                <div class="team-wrap clearfix" style="text-align: left;">
                                                                    <h6 class="team-title">Mike</h6>
                                                                    <p class="designation">
                                                                        Designer
                                                                    </p>
                                                                    <p class="team-description">
                                                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="one-fourth column-block " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <div class="team-shortcode-wrap 0" data-animation="fadeIn">
                                        <div class="element c_to_c style5-title">
                                            <div class="element-inner">
                                                <div class="flip-wrap">
                                                    <div class="flip-img-wrap none-effect">
                                                        <img src="upload/oshin_v9_images-0001-comp-copy-650x649.jpg" alt="Felicity Novak"/>
                                                        <ul class="team-social clearfix over" style="background: rgba(255,255,255,0.85)">
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-facebook"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-twitter"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-gplus"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-linkedin"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="thumb-overlay">
                                                    <div class="thumb-bg">
                                                        <div class="display-table">
                                                            <div class="display-table-cell vertical-align-middle">
                                                                <div class="team-wrap clearfix" style="text-align: left;">
                                                                    <h6 class="team-title">Felicity Novak</h6>
                                                                    <p class="designation">
                                                                        Designer
                                                                    </p>
                                                                    <p class="team-description">
                                                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="one-fourth column-block " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <div class="team-shortcode-wrap 0" data-animation="fadeIn">
                                        <div class="element c_to_c style5-title">
                                            <div class="element-inner">
                                                <div class="flip-wrap">
                                                    <div class="flip-img-wrap none-effect">
                                                        <img src="upload/oshin_v9_images-0000-comp-copy-650x650.jpg" alt="Jane"/>
                                                        <ul class="team-social clearfix over" style="background: rgba(255,255,255,0.85)">
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-facebook"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-twitter"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-gplus"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-linkedin"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="thumb-overlay">
                                                    <div class="thumb-bg">
                                                        <div class="display-table">
                                                            <div class="display-table-cell vertical-align-middle">
                                                                <div class="team-wrap clearfix" style="text-align: left;">
                                                                    <h6 class="team-title">Jane</h6>
                                                                    <p class="designation">
                                                                        Designer
                                                                    </p>
                                                                    <p class="team-description">
                                                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="one-fourth column-block " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <div class="team-shortcode-wrap 0" data-animation="fadeIn">
                                        <div class="element c_to_c style5-title">
                                            <div class="element-inner">
                                                <div class="flip-wrap">
                                                    <div class="flip-img-wrap none-effect">
                                                        <img src="upload/oshin_v9_images-0009-comp-copy-650x650.jpg" alt="Ram"/>
                                                        <ul class="team-social clearfix over" style="background: rgba(255,255,255,0.85)">
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-facebook"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-twitter"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-gplus"></i></a></li>
                                                            <li class="icon-shortcode"><a href="#" class="font-icon team_icons" target="_blank" data-bg-color="transparent" data-color="#000000" data-hover-color="#af9f66" data-hover-bg-color="transparent" style="color: #000000;"><i class="icon-linkedin"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="thumb-overlay">
                                                    <div class="thumb-bg">
                                                        <div class="display-table">
                                                            <div class="display-table-cell vertical-align-middle">
                                                                <div class="team-wrap clearfix" style="text-align: left;">
                                                                    <h6 class="team-title">Ram</h6>
                                                                    <p class="designation">
                                                                        Designer
                                                                    </p>
                                                                    <p class="team-description">
                                                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>