	    <div class="header-hero-section" id="hero-section">
        <div class="header-hero-custom-section">
            <div class="hero-section-wrap be-section full-no be-bg-cover be-bg-parallax clearfix" style="background: url(upload/titlebg.jpg) no-repeat fixed center center;; height: 550px !important;">
                <div class="be-row be-wrap">
                    <div class="hero-section-inner-wrap">
                        <div class="hero-section-inner">
                            <div class="special-heading-wrap style2 align-center 0" data-animation="fadeIn">
                                <div class="special-heading" style="border-width:7px; border-color: #ffffff; padding: 20px 35px ;">
                                    <h3 class="special-h-tag" style="color: #ffffff;">Now. Look. Hear.</h3>
                                    <h5 style="color: #ffffff;">Video Background Of Broadcast 'Behind the Scenes' Here?</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>