 <!-- Whoweare -->
                <div class="be-section clearfix" data-headerscheme="background--dark" style="">
                    <div class="be-section-pad clearfix" style="padding-top:90px;padding-bottom:90px;">
                        <div class="be-row be-wrap clearfix">
                            <div class="one-col column-block clearfix " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <div class="special-subtitle-wrap 0" style="margin-bottom: 10px;" data-animation="fadeIn">
                                        <div class="align-left">
                                            <span class="special-subtitle" style="color: #e0a240; font-size: 18px ; width: 100%">Who are we ?</span>
                                        </div>
                                    </div>
                                    <h3>WE ARE {{page.companyname}}</h3>
                                    <p>
                                        <span style="font-size: 14pt; line-height: 1.8;">A beautiful responsive multi-purpose wordpress theme that comes with 12 unique and stunning demos</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="be-row be-wrap clearfix">
                            <div class="one-half column-block " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <p>
                                        Proin facilisis varius nunc. Curabitur eros risus, ultrices et dui ut, luctus accumsan nibh. Fusce convallis sapien placerat tellus suscipit vehicula. Cras vitae diam ut justo elementum faucibus eget a diam. Etiam sodales a sem vitae fermentum.&nbsp;Curabitur pellentesque massa eu nulla et consequat porttitor arcu porttitor.&nbsp;Proin eu diam lorem, id scelerisque sapien. In accumsan metus at magna vehicula placerat tempor varius ipsum.
                                    </p>
                                </div>
                            </div>
                            <div class="one-half column-block " data-animation="" style=" ">
                                <div class="be-custom-column-inner">
                                    <p>
                                        Ea mei nostrum imperdiet deterruisset, mei ludus efficiendi ei. Sea summo mazim ex, ea errem eleifend definitionem vim. Ut nec hinc dolor possim. An eros argumentum vel, elit diceret duo eu, quo et aliquid ornatus delicatissimi.&nbsp;Proin eu diam lorem, id scelerisque sapien. In accumsan metus at magna vehicula placerat tempor varius ipsum. libero, non congue odio vulputate eu. Phasellus euismod magna ac est.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>